/* some style */

.app-background {

    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

.app-background--loading {
    background-image: url("/img/inaug_crowd.jpg");
}

.app-background--loaded {
    background-image: url("/img/mad_trump.jpg");
}


.hero {
    letter-spacing: .04em;
}

.app-container {
    background: linear-gradient(black, transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: helvetica, sans-serif;
    text-align: center;
    color: white;
}

.message-container {
    opacity: 1;
    padding-top: 1em;
}




